/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;    background: linear-gradient(180deg, #2D190C 35.33%, #121212 100%);
    color: white;

    max-width: 1200px;
    min-width: 900px;
    margin: auto;
    height: 100%;
}

/* Header Styles */

header {
    background: linear-gradient(180deg, #753D1A 0%, #42230F 100%);
    padding: 10px;
}
#banner {
    width: 1100px;
    height: 250px;
    
    display: flex;
    gap: 25px;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
}

#headerText {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#headerText h2 {
    font-size: 16px;
    text-transform: uppercase;
}

#headerText h1 {
    font-size: 56px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#headerText h3 {
    font-size: 14px;
    color: #B3B3B3;
    font-weight: 500;
}

.description {
    display: flex;
    gap: 32px;
}

/* Vinyl Animation */
#animateVinyl {
    position: relative;
}

#animateVinyl:hover {
    cursor:pointer;
}

#vinylPlayer {
    transition: all 1s;
}

#vinylCover {
    position: absolute;
    left:0;
    transition: all 1s;
}

#vinylCover:hover {
    cursor: pointer;
    left:-7em;
}

#vinylCover:hover #vinylPlayer{
    opacity: 1;
    left: 50px;
}

/* Main Styles */
main {
    display: flex;
    padding: 10px 110px;
}

.columns {
    display: flex;
    flex-direction: column;
    background: #121212;
    border-radius: 10px;

    flex: 1;
    /* margin: 10px; */
    padding: 15px;
    /* position: relative; */

    transform: scale(0.85);
    transition: all 0.8s ease;
}

.columns nav ul li {
    list-style-type: none;
    padding: 10px;
}

.columns nav ul li a {
    text-decoration: none;
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

li:hover {
    background-color: white;
    cursor: pointer;
}

.columns h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #65D46E;
}

.musicIcons {
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: center;

    font-size: 25px;
    color: #868686;
    text-align: center;

    bottom: 3em;
    left: 1.5em;
    right: 1.5em;
    
    flex: 1;
}

.fas.fa-fast-backward{
    position: absolute;
    left: 3em;
    bottom: 1em;
}

.fas.fa-fast-forward  {
    position: absolute;
    right: 3em;
    bottom: 1em;
}

.fas.fa-play-circle {
    font-size: 60px;
    color: #65D46E;

    align-self: flex-end;
}

.fas.fa-pause-circle {
    font-size: 60px;

    align-self: flex-end;
    color: #65D46E;
    display: none
}

/* Hover over columns animation */
.columns:hover {
    transform: scale(1);
    background-color: #65D46E;
}


.columns:hover h2{
    color:  #121212;
}

.columns:hover .musicIcons, .columns:hover a {
    color: #3F3F3F;
}

.columns:hover .fas.fa-play-circle {
    color:  #121212;
    display: none;
}


.columns:hover .fas.fa-pause-circle {
    display: inline;
    color:  #121212;
}


/* Infinite Playing Vinyl Animation */
#playingVinyl {
    display: block;
    max-height: 75%;
    margin: auto;
    margin-bottom: 5px;

    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Footer styles */
footer {
    background: #65D46E;
    display: flex;
    flex-direction: row;
    gap: 300px;
    color: black;
    justify-content: center;
    padding: 10px;

    font-weight: 500;
}
