* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Manrope', sans-serif;

}

header {
    background: #3C3B3A;
    padding: 30px;
    top: 0;
    position: sticky;
}

main {
    display: flex;
    gap: 20px;
    justify-content: center;
}

article {
    width: 30vw;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer {
    background: #3B82F7;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 10px;
}

footer p {
    margin: 0;
}

p, li {
    line-height: 1.5em;
    margin-bottom: 10px;
}

.gray {
    background: #3B3B3D;
}

.blue {
    background: #3B82F7;
}

#left, #right {
    display: flex;
    flex-direction: column;
}

#left {
    gap: 100px;
}

#right {
    align-items: flex-start;
    justify-content: center;
    gap: 400px;
}

#user-test {
    display: flex;
    flex-direction: column;
}

img {
    width: 20%;
    height: auto;
    border-radius: 15px;
}

#images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #D32D2F;
}

#observation {
    padding: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 60px;
}

#ob-title, #plan-title {
    font-size: 42px;
}

.description {
    width: 50vw;
    background-color: white;
    color: black;
}

#plan {
    background-color: #D32D2F;
    padding: 20px;
    width: 100%;
}

#plan p {
    margin-top: 10px;
    width: 80%;
    line-height: 1.5em;
}
