* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #131313;
    color: white;
    font-family: 'Manrope', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 48px;
}

header h2, header h3 {
    font-weight: 400;
}

footer {
    background: #D32D2F;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

/* JS styles */

.hidden {
    display: none;
    /* visibility: hidden; */
}

.showing {
    display: block;
}

/* Landing page styles */

#landing-page {
    display: flex;
    margin-top: 20px;
    padding: 50px;
    justify-items: center;
    gap: 10px;
}

.small-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    display: flex;
    gap: 140px;
    margin-top: 10px;
}

.far.fa-star {
    font-size: 25px;
}


#nineteen img:hover,
#twenty img:hover, 
#twenty-one img:hover, 
#twenty-two img:hover, 
#twenty-three img:hover {
    opacity: 0.5;
    cursor: pointer;
}

#nineteen-preview,
#twenty-preview,
#twenty-one-preview,
#twenty-two-preview,
#twenty-three-preview {
    font-weight: bold;
    position: absolute;
    top: 50%;
}

#nineteen-preview {
    left: 8%;
}

#twenty-preview {
    left: 26%;
}

#twenty-two-preview {
    left: 65%;
}

#twenty-three-preview {
    left: 83%;
}

#twenty-one-preview {
    left: 46.5%;
}


/* full view  */

.tag {
    width: 150px;
    height: 150px;
    background-color: #D32D2F;
    border-radius: 50%;

    position: absolute;
    left: -5%;
    top: -5%;
    transform: rotate(-15deg);
    z-index: 1;
}

.tag p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    color: white;
}

.clothes-tag {
    background: #FFFFFF;
    border-radius: 25px;
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
}


.full-view {
    background: white;
    width: 1000px;
    height: 550px;
    border-radius: 10px;
    color: black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 20px;
    align-items: center;
}

#twenty-top {
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 1;
}

#twenty-bottom {
    position: absolute;
    top: 60%;
    left: 30%;
    z-index: 1;
}

#twenty-main {
    position: absolute;
    top: 5%;
    left: 70%;
    z-index: 1;
}
.fas.fa-arrow-left {
    font-size: 36px;
    color: #D32D2F;
    position: absolute;
    left: 50px;
    top: 40px;
    display: inline-block;
}

.fas.fa-arrow-left:hover {
    cursor: pointer;
    color: white;
}

.image {
    position: relative;

}

.image img{
    object-fit: cover;
    display: block;
    height: 550px;
    border-radius: 10px 0px 0px 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5em;
    max-width: 90%;
}

.mini-text {
    display: flex;
    gap: 10px;
}

.fas.fa-map-pin, .fas.fa-clock {
    font-size: 24px;
    color: #D32D2F;
}

.story {
    height: 60vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

